@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

.header {
    position: relative;
}

.contact-block{
    margin: 1.5% auto 6.5% auto;
    min-width: 88%;
    padding-bottom: 4%;
    padding-top: 2%;
    background-color: #F4F4F4;
    font-family: 'Rubik', sans-serif;
    flex-wrap: wrap;
    text-align: left;
}

.contact-block .row {
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    width: 95%;
}

div.contact-us-block {
    background-color: white;
}

div.address-block {
    background-color: white;
}

.address-block div p {
    border-bottom: 1px rgba(169, 169, 169, 0.49) solid;
}

.height-full {
    min-height: 100%;
}

.form-group {
    margin-bottom: 2%;
}

.google-maps-link {
    color: #2d6572;
    text-decoration: none;
}

.google-maps-link:hover {
    color: #009229;
}