@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

html,body {
    height: 100%;
    overflow-y: auto;
}

/* ---------------------- Header styles ---------------------- */
.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: white;
}

    .header-logo {
        width: 30%;
        font-size: 26px;
        padding-left: 3%;
        font-family: 'Rubik', sans-serif;
    }
    .header-logo img {
        width: 45px;
        margin-right: 1.5%;
    }
    a#onclickLogo {
        text-decoration: none;
        color: black;
    }

    .header-nav {
        width: 40%;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-align: center;
    }
    .header-nav a {
        margin-left: 8px;
        margin-right: 8px;
        color: #18A0FB;
        text-decoration: none;
    }
    .header-nav a:hover {
        color: #dc0000;
    }

    .header-buttons {
        width: 30%;
        text-align: center;
        padding-left: 3%;
    }
    .header-buttons button {
        width: 130px;
        height: 38px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        border: 1px #18A0FB solid;
        border-radius: 6px;
    }
    button.btn-login {
        background-color: white;
        color: #18A0FB;
    }
    button.btn-register {
        background-color: #18A0FB;
        color: white;
    }
    button.btn-profile, button.btn-logout {
        background-color: white;
        color: black;
        border: 1px #FF8800 solid;
    }

    .btn-profile#admin-panel-btn {
        max-width: 40px;
    }

.drop-shadow {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

/* ---------------------- Main content styles ---------------------- */
.main {
    padding-top: 4%;
    min-height: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

.start-content {
    display: flex;
    padding-top: 8%;
    padding-bottom: 8%;
    align-items: center;
    user-select: none;
}

    .start-text {
        width: 45%;
        padding-left: 50px;
    }

    .start-text p {
        color: #FF8800;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 15px;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }

    .start-text button {
        width: 280px;
        height: 50px;
        background-color: white;
        color: #18A0FB;
        border: 1px #18A0FB solid;
        border-radius: 6px;
        font-size: 20px;
        font-weight: bold;
    }

    .start-image {
        width: 55%;
        padding-right: 50px;
    }

.eco-info {
    background-color: #F4F4F4;
    padding-top: 10%;
    padding-bottom: 10%;
}

    .eco-info img {
        width: 70%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.end-content {
    margin-top: 80px;
    background-image: url("../images/infographie_blur.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
}

    .end-content button {
        background-color: #FF8800;
        border: 0;
        border-radius: 6px;
        height: 80px;
        min-width: 260px;
        font-weight: bold;
        margin: 50px;
        user-select: none;
    }
    .end-content button.btn-top-left {
        align-self: flex-start;
    }
    .end-content button.btn-center {
        align-self: center;
        margin-bottom: 10%;
    }
    .end-content button.btn-bottom-right {
        align-self: flex-end;
        margin-bottom: 10%;
    }

/* ---------------------- Footer styles ---------------------- */
.inner-shadow {
    box-shadow: inset 0 1px 40px rgba(0, 0, 0, 0.15);
}

/* ------------------------ Scrollbar ------------------------ */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: darkgrey;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(40, 40, 40, 0.42);
    border-radius: 15px;
    background-color: rgba(26, 194, 255, 0.32);
}

/* ---------------------- Modal window ---------------------- */

.admin-menu-block {
    border: 1px #FF8800 solid;
    background: -webkit-gradient(linear, left top, right top, from(#fff2eb), to(#d4eaff));
    background: linear-gradient(to right, #d4eaff, #fff2eb);
    font-weight: bold;
}

.admin-menu-title {
    margin: 5px;
    overflow-wrap: break-word;
    text-align: center;
}

div.modal-dialog {
    min-width: 85%;
    margin: 2% auto 0 auto;
}

.modalWindow {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.close-modal-btn {
    z-index: 2;
    position: absolute;
    right: 85px;
    top: 15px;
}

.logo-image {
    width: 45px;
}

.modal-login {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

.reg-text-checkbox {
    font-size: 14px;
    padding-top: 2px;
}

img.img-fluid {
    width: 85%;
    margin: 0 auto 0 auto;
}

.login-confirm {
    font-size: 15px;
}

.login-confirm button {
    max-height: 50px;
    padding: 3px 20px 3px 20px;
    color: #FF8800;
    border-color: #FF8800;
}

.forgot-password {
    text-decoration: none;
    color: grey;
}
.forgot-password:hover {
    color: black;
}

/* ---------------------- Other styles ---------------------- */
.bg-color-siteBlue {
    background-color: #18A0FB;
}
.bg-color-siteBlue:active {
    background-color: #00609a;
}
.bg-color-siteGreen {
    background-color: #009229;
}
.border-siteBlue {
    border: 1px #18A0FB solid;
}
.border-siteGreen {
    border: 1px #009229 solid;
}

.progress-description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-align: center;
}

    .text-red {
        color: red;
        font-weight: bold;
    }

    .text-green {
        color: green;
        font-weight: bold;
    }

    .text-orange {
        color: orange;
        font-weight: bold;
    }

.anim-button:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.anim-button2:hover {
    transform: scale3d(0.95, 0.95, 0.95);
}